<!doctype html>
<html>
<head>
  <title>A Compliment</title>
</head>
<body>
    Hi {{ person }}! I think you're so:
    {% for compliment in compliments %}
      {% if compliment != compliments[-1]%}
        {{ compliment}},
      {% else %}
        {{ compliment}}!
      {%endif%}
    {%endfor%}
  
    <br>
    <br>
    <div>
      <form action="/game">
        <label for="play-game">Do you want to play a game?</label>
        <input type="radio" name="play-game" value="Yes">
        <label for="play-game">Yes</label>        
        <input type="radio" name="play-game" value="No">
        <label for="play-game">No</label>
        <br>
        <br>
        <div>
          <input type="submit"> 
        </div>
      </form>
    </div>
</body>
</html>