<!DOCTYPE html>
<html>
  <head>
    <title>Hi There!</title>
  </head>
  <body>
    <h1>Hi There!</h1>

    <form action="/madlib">
      <label>Please fill in the following prompts:</label>
      <div>
        <label for="person">Person:</label>
        <input type="text" name="person" id="person" />
      </div>
      <div>
        <label>Color:</label>

        <input type="checkbox" name="color" value="red" />
        <label>Red</label>

        <input type="checkbox" name="color" value="green" />
        <label>Green</label>

        <input type="checkbox" name="color" value="blue" />
        <label>Blue</label>
      </div>
      <div>
        <label for="noun">Noun:</label>
        <input type="text" name="noun" id="noun" />
      </div>
      <div>
        <label for="adj">Adjective:</label>
        <input type="text" name="adj" id="adj" />
      </div>
      <input type="submit" />
    </form>
  </body>
</html>
